ENV=qa
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://reqres.in/api
API_KEY=free_user_3E72X2nm3XwO4QFWC1alecyCd7P
USE_API_MOCK=true
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
LOCKED_OUT_USER=locked_out_user
INVALID_USER=invalid_user
INVALID_PASSWORD=wrong_password
MAX_RESPONSE_TIME_MS=5000
RETRY_COUNT=3
RETRY_DELAY_MS=1000
HEADLESS=true
